<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My supreme webpack
    body
        h1 Hello from Andru
        .wrapper
        h2 hello Andru
        div Hello Marat
        div Marat
        div vicrotovicj
        div ashabas
        div
            img(src="img/dog.jpg", alt="dog")
        div
            img(src="img/blur.jpg", alt="blur")
        h3 Hello brothersgfghghg